<!DOCTYPE html>
<html layout:decorate="~{fragments/_dashboard.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>
<div class="nk-content " layout:fragment="content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Creneaux du cours</h3>
                            <div class="nk-block-des text-soft">
                                <p th:text="${cours.nom}"></p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle"><a
                                    class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"
                                    href="#"><em
                                    class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li class="nk-block-tools-opt d-none d-sm-block"
                                            data-bs-target="#modalCreate" data-bs-toggle="modal">
                                            <a class="btn btn-primary" href="#">
                                                <em class="icon ni ni-plus"></em>
                                                <span>Nouveau creneau</span>
                                            </a>
                                        </li>
                                        <li class="nk-block-tools-opt d-block d-sm-none"
                                            data-bs-target="#modalCreate" data-bs-toggle="modal"><a
                                                class="btn btn-icon btn-primary"
                                                href="#"><em
                                                class="icon ni ni-plus"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="card card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner p-0">
                                <table class="nk-tb-list nk-tb-ulist">
                                    <thead>
                                    <tr class="nk-tb-item nk-tb-head">
                                        <th class="nk-tb-col"><span class="sub-text">Date</span></th>
                                        <th class="nk-tb-col tb-col-lg"><span
                                                class="sub-text">Etat</span></th>
                                        <th class="nk-tb-col tb-col-lg"><span
                                                class="sub-text">Etudiant</span>
                                        </th>

                                        <th class="nk-tb-col nk-tb-col-tools text-end">
                                            <ul class="nk-tb-actions gx-1">
                                                <li>
                                                    <div class="dropdown"><a
                                                            class="btn btn-sm btn-trigger btn-icon dropdown-toggle">
                                                        <em class="icon ni ni-more-h"></em></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="nk-tb-item" th:each="creneau : ${creneaux}">
                                        <td class="nk-tb-col">
                                            <a class="project-title">
                                                <div class="project-info">
                                                    <h6 class="title"
                                                        th:text="${#temporals.format(creneau.date,'dd/MMM/yyyy à HH:mm')}">
                                                        Date</h6>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="nk-tb-col tb-col-lg">
                                            <span th:text="${creneau.statuts}"></span>
                                        </td>
                                        <td class="nk-tb-col tb-col-lg">
                                            <span th:text="${(creneau?.utilisateur?.email ?: '-') }">Utilisateur</span>
                                        </td>

                                        <td class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-1">
                                                <li>
                                                    <div class="drodown"><a
                                                            class="dropdown-toggle btn btn-sm btn-icon btn-trigger"
                                                            data-bs-toggle="dropdown"
                                                            href="#"><em
                                                            class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">

                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCreate">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content"><a aria-label="Close" class="close" data-bs-dismiss="modal" href="#"> <em
                    class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md"><h5 class="modal-title">Nouveau creneau</h5>
                    <form class="pt-2" action="#" th:object="${newCreneau}" th:action="@{/cours/{coursId}/creneaux(coursId=${cours.id})}" method="POST">
                        <div class="row gy-3 gx-gs">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label" for="state">Etat</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select js-select2" id="state" th:field="*{statuts}">
                                            <option th:each="status : ${statues}" th:text="${status}" th:value="${status}">
                                                Etat
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label" for="course-lesson"></label>
                                    <div class="form-control-wrap">
                                        <input th:field="*{date}" class="form-control" id="course-lesson"
                                               placeholder="40" type="datetime-local">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>