<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header" class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ms-n1">
                <a class="nk-nav-toggle nk-quick-nav-icon"
                   data-target="sidebarMenu"
                   href="#"><em
                        class="icon ni ni-menu"></em></a></div>
            <div class="nk-header-brand d-xl-none"><a class="logo-link" href="../index.html"><img
                    alt="logo" class="logo-light logo-img"
                    src="/images/logo.png" srcset="/images/logo2x.png 2x"><img alt="logo-dark"
                                                                               class="logo-dark logo-img"
                                                                               src="/images/logo-dark.png"
                                                                               srcset="/images/logo-dark2x.png 2x"></a>
            </div>
            <div class="nk-header-search ms-3 ms-xl-0"><em class="icon ni ni-search"></em><input
                    class="form-control border-transparent form-focus-none"
                    placeholder="Search anything"
                    type="text">
            </div>
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">

                    <li class="dropdown user-dropdown"><a class="dropdown-toggle me-n1"
                                                          data-bs-toggle="dropdown"
                                                          href="#">
                        <div class="user-toggle">
                            <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                            <div class="user-info d-none d-xl-block">
                                <div class="user-status user-status-active">Administator</div>
                                <div class="user-name dropdown-indicator">Abu Bin Ishityak</div>
                            </div>
                        </div>
                    </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="admin-profile.html"><em
                                            class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                                    </li>
                                    <li><a href="admin-profile-setting.html"><em
                                            class="icon ni ni-setting-alt"></em><span>Account Setting</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="#"><em
                                            class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>