<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header" class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ms-n1">
                <a class="nk-nav-toggle nk-quick-nav-icon"
                   data-target="sidebarMenu"
                   href="#"><em
                        class="icon ni ni-menu"></em></a></div>
            <div class="nk-header-brand d-xl-none"><a class="logo-link" href="../index.html"><img
                    alt="logo" class="logo-light logo-img"
                    src="/images/logo.png" srcset="/images/logo2x.png 2x"><img alt="logo-dark"
                                                                               class="logo-dark logo-img"
                                                                               src="/images/logo-dark.png"
                                                                               srcset="/images/logo-dark2x.png 2x"></a>
            </div>
            <div class="nk-header-search ms-3 ms-xl-0"><em class="icon ni ni-search"></em><input
                    class="form-control border-transparent form-focus-none"
                    placeholder="Search anything"
                    type="text">
            </div>
            <div class="nk-header-tools">
                <form name="logoutForm" th:action="@{/logout}" method="post">
                    <input class="btn btn-primary" type="submit" value="Deconnexion"/>
                </form>
            </div>
        </div>
    </div>
</div>
</html>