<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Sidebar</title>
</head>
<body>

<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu" th:fragment="sidebar">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand"><a class="logo-link nk-sidebar-logo" th:href="@{/}"><img
                alt="logo" class="logo-light logo-img" src="/images/logo.png"
                srcset="/images/logo2x.png 2x">
            <img alt="logo-dark" class="logo-dark logo-img"
                 src="/images/logo-dark.png"
                 srcset="/images/logo-dark2x.png 2x"><img
                    alt="logo-small" class="logo-small logo-img logo-img-small"
                    src="/images/logo-small.png" srcset="/images/logo-small2x.png 2x"></a></div>
        <div class="nk-menu-trigger me-n2">
            <a class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
               data-target="sidebarMenu"
               href="#"><em class="icon ni ni-arrow-left"></em></a><a
                class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"
                href="#"><em class="icon ni ni-menu"></em></a></div>
    </div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item has-sub">
                        <a class="nk-menu-link nk-menu-toggle" href="#">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-book-fill"></em>
                            </span>
                            <span class="nk-menu-text">Cours</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/categories}">
                                    <span class="nk-menu-text">Catagories</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/cours}">
                                    <span class="nk-menu-text">Tous les cours</span>
                                </a>
                            </li>

                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/reservations}">
                                    <span class="nk-menu-text">Mes reservations</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub" sec:authorize="${hasAuthority('PRESTATAIRE')}">
                        <a class="nk-menu-link nk-menu-toggle" href="#">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-user-fill"></em>
                            </span>
                            <span class="nk-menu-text">Instructeur</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/instructor/my-courses}">
                                    <span class="nk-menu-text">Mes cours</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/instructor/my-reservation}">
                                    <span class="nk-menu-text">Reservations</span>
                                </a>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>