<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar</title>
</head>
<body>

<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu" th:fragment="sidebar">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand"><a class="logo-link nk-sidebar-logo" th:href="@{/}"><img
                alt="logo" class="logo-light logo-img" src="/images/logo.png"
                srcset="/images/logo2x.png 2x">
            <img alt="logo-dark" class="logo-dark logo-img"
                 src="/images/logo-dark.png"
                 srcset="/images/logo-dark2x.png 2x"><img
                    alt="logo-small" class="logo-small logo-img logo-img-small"
                    src="/images/logo-small.png" srcset="/images/logo-small2x.png 2x"></a></div>
        <div class="nk-menu-trigger me-n2">
            <a class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
               data-target="sidebarMenu"
               href="#"><em class="icon ni ni-arrow-left"></em></a><a
                class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"
                href="#"><em class="icon ni ni-menu"></em></a></div>
    </div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item has-sub">
                        <a class="nk-menu-link nk-menu-toggle" href="#">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-book-fill"></em>
                            </span>
                            <span class="nk-menu-text">Cours</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/categories}">
                                    <span class="nk-menu-text">Catagories</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/cours}">
                                    <span class="nk-menu-text">Tous les cours</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a class="nk-menu-link nk-menu-toggle" href="#">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-user-fill"></em>
                            </span>
                            <span class="nk-menu-text">Instructeur</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" th:href="@{/instructor/my-courses}">
                                    <span class="nk-menu-text">Mes cours</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" href="instructor-list.html">
                                    <span class="nk-menu-text">Instructor List</span>
                                </a>
                            </li>
                            <li class="nk-menu-item"><a class="nk-menu-link"
                                                        href="instructor-details.html"><span
                                    class="nk-menu-text">Instructor Details</span></a>
                            </li>
                            <li class="nk-menu-item"><a class="nk-menu-link"
                                                        href="instructor-payment.html"><span
                                    class="nk-menu-text">Instructor Payment</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nk-menu-item"><a class="nk-menu-link" href="students.html"><span
                            class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span><span
                            class="nk-menu-text">Students</span></a></li>
                    <li class="nk-menu-item has-sub"><a class="nk-menu-link nk-menu-toggle" href="#"><span
                            class="nk-menu-icon"><em class="icon ni ni-property-add"></em></span><span
                            class="nk-menu-text">Enrolment</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a class="nk-menu-link" href="enroll-history.html"><span
                                    class="nk-menu-text">Enroll History</span></a></li>
                            <li class="nk-menu-item"><a class="nk-menu-link" href="enroll-student.html"><span
                                    class="nk-menu-text">Enroll a Student</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item"><a class="nk-menu-link" href="message.html"><span
                            class="nk-menu-icon"><em class="icon ni ni-chat-fill"></em></span><span
                            class="nk-menu-text">Messages</span></a></li>
                    <li class="nk-menu-item"><a class="nk-menu-link" href="admin-profile.html"><span
                            class="nk-menu-icon"><em class="icon ni ni-account-setting-fill"></em></span><span
                            class="nk-menu-text">Admin profile</span></a></li>
                    <li class="nk-menu-item has-sub"><a class="nk-menu-link nk-menu-toggle" href="#"><span
                            class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span><span
                            class="nk-menu-text">Invoice</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a class="nk-menu-link"
                                                        href="student-invoice-list.html"><span
                                    class="nk-menu-text">Invoice List</span></a>
                            </li>
                            <li class="nk-menu-item"><a class="nk-menu-link"
                                                        href="student-invoice-details.html"><span
                                    class="nk-menu-text">Invoice Details</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nk-menu-item"><a class="nk-menu-link" href="settings.html"><span
                            class="nk-menu-icon"><em class="icon ni ni-setting-alt-fill"></em></span><span
                            class="nk-menu-text">Settings</span></a></li>
                    <li class="nk-menu-heading"><h6 class="overline-title text-primary-alt">Return to</h6></li>
                    <li class="nk-menu-item"><a class="nk-menu-link" href="../index.html"><span
                            class="nk-menu-icon"><em class="icon ni ni-dashlite-alt"></em></span><span
                            class="nk-menu-text">Main Dashboard</span></a></li>
                    <li class="nk-menu-item"><a class="nk-menu-link" href="../components.html"><span
                            class="nk-menu-icon"><em class="icon ni ni-layers-fill"></em></span><span
                            class="nk-menu-text">All Components</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>